body {
	background: #F5F5F5;
	margin: 10px;
	padding: 8px;
}
p{
	color: #DAA520;
}

#maisimportante{
	color: #D2691E;
	background-color: #FFDEAD;
	border: 1px solid black;
	border-radius: 8px;
	padding: 20px;
}

h2, h3 {
	color: brown;
}

a{
	color: #8B4513;
}

.texto1{
	color:black;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}